{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3> Created by: Nehal Bandal </h3>
            <div>
                <h4>Following is the list of features added in the application:</h4>
                <ul>
                    <li>Register and Secure login-logout.</li>
                    <li>Reset forgeted password.</li>
                    <li>Update account information.</li>
                    <li>Share your views via posts.</li>
                    <li>Update and/or delete your posts.</li>
                    <li>Enabled pagination.</li>
                    <li>See other user profiles.</li>
                    <li>Follow other users.</li>
                    <li>See all the posts by particular author</li>
                    <li>Add comments and give like to the posts.</li>
                    <li>Search posts using post title or some content.</li>
                    <li>Refine post results by categories such as Artificial Intelligence, Machine Learning etc.</li>
                    <!--<li></li>-->
                </ul>
                <ul>Features To Be Added:
                    <li>Blogs Recommendation System</li>
                </ul>
                <p>Note: Some of the features are restricted to logged in users only. So please Login to access all the features.</p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}